# Ignore temporary folders
.tmp/

# Generally ignore all JARs
*.jar

# Ignore the server.jar (it will be symlinked in)
server.jar

# Ignore databases
*.db

# Ignore private .env file
.env

# Ignore log files
*.log
*.log.gz

# Ignore usercache.json
usercache.json

# Ignore templated files
server.properties

# Ignore crash reports
crash-reports/

# Ignore databases
*.sqlite
